<div class="card mat-card">
    <div class="row">
        <h1>Educacion</h1>
        <div>
            
            <ul id="info-details">
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                </div>
                <li>
                    <h3>Full Stack Developer Jr</h3>
                    <img src="../../../assets/imagen/logoNegro2.png" alt="logo" width="120px" height="100">
                    <h4>Argentina Programa</h4>
                    <h5>noviembre 2021-mayo 2022</h5>
                </li>
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
                <li>
                    <h3>Phyton Full Stack</h3>
                    <img src="../../../assets/imagen/logo_agencia_solo.gif" alt="logo" width="70px" height="60px">
                    <h4>Codo a Codo</h4>
                    <h5>20 semanas 198 horas, Octubre 2021</h5>
                </li>
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
                <li>
                    <h3>Contaduria</h3>
                    <img src="../../../assets/imagen/universidad_santa_maria.jpg" alt="logo" width="60px" height="60px">
                    <h4>Universidad Santa Maria</h4>
                    <h5>2010-2015</h5>
                </li>
                
            </ul>
        </div>
    </div>
</div>
