<div class=" card mat-card">
    <div class="proyecto">
        <div class="row">
            <h1>Proyectos</h1>
            <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                </div>
                <h3>Lucky GeeK</h3>
                <p>Pagina web de LuckGeek en front end</p>
            </div>
            <div class="col- sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/imagen/LogoLucky.jpg" width="150" class="img-fluid imgproyect">
            </div>
            </div>
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    </div>
                    <h3>La Ganga 3000</h3>
                    <p>Pagina con Phyton y Mysql</p>
                </div>
                <div class="col- sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/imagen/LogoGanga.png" width="150" class="img-fluid imgproyect">
                </div>
            </div>
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
                    </div>
                    <h3>Portafolio CP</h3>
                    <p>Portafolio Web con Angular, Spring Boot y Mysql</p>
                </div>
                <div class="col- sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/imagen/foto carla 2.jpg" width="150" class="img-fluid imgproyect">
                </div>
            </div>
        </div>
    </div>
</div>
