<div class="card mat-card">    
    <div class="encabezado">
        <div class="encabezado__logoAp" >
            <img  class="encabezado__img" src="../../../assets/imagen/APLogo-20-20.png" alt="">
            <img  class="encabezado__imginti" src="../../../assets/imagen/LogosInti.png" alt="">
            <div class="encabezado__login">
                <button type="button" class="btn btn-outline-light">Login</button>
            </div>
            <div class="encabezado__redes">
                <a href="#" class="encabezado__redesicon" >
                    <img  class="encabezado__redes__icon" src="../../../assets/imagen/linkedin.png" alt=""></a>
                    <a href="#" class="encabezado__redesicon" >
                        <img  class="encabezado__redes__icon" src="../../../assets/imagen/Githup.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="banner">
        <img  class="banner__img" src="../../../assets/imagen/—Pngtree—technological background vector illustration matrix_1245505.jpg"alt="">
        <div id="info" style="padding: 16px">
        
        
    </div>
</div>