<div class="card mat-card">
    <div class="row">
        <div>
        <img class="img-fluid" src="../../../assets/imagen/foto carla 2.jpg" alt="" id="imgperfil">
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a>
        </div>
        </div>
        
        <div>
            <h1>Carla Pacheco</h1>
            <h3 class="cargo"> Full Stack Developer Jr.</h3>  
            <h3>Lic. Contaduria</h3>
            <h6>Ciudad Autonoma de Buenos Aires</h6>
            <div id="info-actions">
                <button type="button" class="btn btn-primary">Tengo interes en</button>
                <button type="button" class="btn btn-light">Anadir Seccion </button>
                <button type="button" class="btn btn-light">Mas</button>
            </div>
        </div>
    </div>
    <div class="perfil">
                <div class="btn-edit">
                    <a href="#" class="btn-right">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
                <h1 class="nombre">Sobre mi</h1>
                <p class="perfil__parrafo"> Soy Carla Pacheco, actualmente me encuentro en la Ciudad Autonoma de Buenos Aires, me intereso
                la carrera de Desarrollo web y estudie el curso de Full Stack Developer Jr en Argentina Programa, 
                Full Stack Phyton en Codo a Codo (Agencia de aprendizaje a lo largo de la vida
                en Buenos Aires).
                Me Gradué como Lic en Contaduría Publica por la Universidad Santa María en Venezuela,
                cuento con una alta capacidad de adaptación, trabajo en equipo,
                Me Destaco por mi actitud positiva, organización y responsabilidad.
            </p>
            </div>
</div>

